@{
    ViewBag.Title = "ShowSp_Loai";
}
@model _2001230977_PhanThanhTri_Buoi06.ViewsModel.SanPham_Loai_Model
<div class="row" style="margin:10px;padding:10px;align-items:flex-start;">
    <div class="col-md-3 text-center" style="border-right:1px solid #ddd;">
        @foreach (var n in Model.DSL)
        {
            <p>
                @Html.ActionLink(@n.tenloai, "Xuat_SanPham_Loai", new { ma = n.maloai })
            </p>
        }
    </div>

    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var n in Model.DSSP)
            {
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="@Url.Content(n.hinh)" class="card-img-top" style="height:200px;object-fit:cover;" />
                        <div class="card-body">
                            <h5 class="card-title">@n.tensp</h5>
                            <p class="card-text">@n.gia.ToString("N0") ₫</p>
                            <a href="@Url.Action("ChiTietSachSanPham", "Sach", new { maSanPham = n.masanpham })" class="btn btn-success">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
